@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(30 41 59);
}

.row {
  display: flex;
}

.square, .trsquare, .tlsquare, .blsquare, .brsquare {
  width: 100px;
  height: 100px;
  border: 1px solid yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px;
  transition: background-color 0.3s ease;
}

.square:hover, .trsquare:hover, .tlsquare:hover, .blsquare:hover, .brsquare:hover {
  background-color: lightgray;
}

.trsquare {
  border-top-right-radius: 8px;
}

.tlsquare {
  border-top-left-radius: 8px;
}

.blsquare {
  border-bottom-left-radius: 8px;
}

.brsquare {
  border-bottom-right-radius: 8px;
}

.row-title {
  width: 100px;
  text-align: center; /* Align text to the center */
  display: flex;
  align-items: center; /* Vertically center the text */
  color: yellow
}


.row-content {
  display: flex;
}

.column-titles {
  display: flex;
  justify-content: space-between;
  width: 320px;
  padding-bottom: 8px;
  color: yellow;
}

.column-title {
  width: 100px;
  text-align: center;
}

/* Empty divs for alignment */
.empty-div {
  width: 100px; /* Width matches column title width */
}

.grid-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.grid {
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}