@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  /* background-color: rgb(30 41 59); */
  /* --tw-bg-opacity: 1;
  background-color: rgb(23 37 84 / var(--tw-bg-opacity)); */
  /* background-color: #2e2e2e; */
  /* --tw-bg-opacity: 1;
    background-color: rgb(17 24 39 / var(--tw-bg-opacity)); */
  font-family: "Montserrat", sans-serif
}

.row {
  display: flex;
}

.square, .trsquare, .tlsquare, .blsquare, .brsquare {
  width: 100px;
  height: 100px;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px;
  transition: background-color 0.3s ease;
}

.square:hover, .trsquare:hover, .tlsquare:hover, .blsquare:hover, .brsquare:hover {
  background-color: rgb(254, 249, 195);
}

.trsquare {
  border-top-right-radius: 8px;
}

.tlsquare {
  border-top-left-radius: 8px;
}

.blsquare {
  border-bottom-left-radius: 8px;
}

.brsquare {
  border-bottom-right-radius: 8px;
}

.row-title {
  width: 100px;
  text-align: center; /* Align text to the center */
  display: flex;
  align-items: center; /* Vertically center the text */
  color: black;
}


.row-content {
  display: flex;
}

.column-titles {
  display: flex;
  justify-content: start;
  width: 500px;
  padding-bottom: 8px;
  color: black;
}

.column-title {
  width: 100px;
  text-align: center;
}

/* Empty divs for alignment */
.empty-div {
  width: 100px; /* Width matches column title width */
}

.grid-container {
  margin-left: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.grid {
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

.empty-col-div {
  width: 100px;
}

.char-img {
  width: 48px;
}

.char-text {
  font-size: x-small;
  height: auto;
}

@media (max-width: 520px) {
  .title {
    font-size: x-large;
  }
  .date {
    font-size: medium;
  }
  .empty-div {
    width: 0px; /* Width matches column title width */
  }

  .empty-col-div {
    width: 125px; /* Width matches column title width */
  }

  .column-title {
    width: 75px;
  }

  .row-title {
    width: 125px;
  }

  .square, .trsquare, .tlsquare, .blsquare, .brsquare {
    width: 75px;
    height: 75px;
  }

  .column-titles {
    width: 375px;
  }
  .char-img {
    width: 36px;
  }
  .char-text {
    font-size: xx-small;
    line-height: 13px;
  }
  .coffeebutton {
    font-size: x-small;
    line-height: 13px;
    padding-left: 4px;
    padding-right: 4px; 
  }
}

@media (max-width: 400px) {
  .datetext {
    font-size: small;
  }
  .empty-div {
    width: 0px; /* Width matches column title width */
  }

  .column-title {
    width: 60px;
  }

  .empty-col-div {
    width: 100px; /* Width matches column title width */
  }
  .row-title {
    width: 100px;
  }

  .square, .trsquare, .tlsquare, .blsquare, .brsquare {
    width: 60px;
    height: 60px;
  }
  .column-titles {
    width: 300px;
  }
  .char-img {
    width: 28px;
  }
  .char-text {
    font-size: 7px;
    line-height: 10px;
  }
}